html {
    font-family : "Verdana";
}

#input_canvas {
    margin-left : 10px;
    margin-top : 10px;
    margin-bottom : 10px;
}

#input_canvas #add_attribute {
    margin-bottom : 10px;
}

#input_canvas #add_fd {
    margin-bottom : 10px;
}

#main_canvas {
    width : 40%;
    /*margin-left : 10px;*/
    float:left;
    height : 500px;
    background:black;
    overflow: hidden;
}

#main_canvas .box.variables {
    background-color : red;
    /*padding : 10px 10px 10px 10px;*/
    /*margin-left : 10px;*/
    width : 50%;
    height : 300px;
    float:left;
    overflow : auto;
}

#main_canvas .box.dependencies {
    background-color : yellow;
    /*padding : 10px 10px 10px 10px;*/
    /*margin-left : 310px;*/
    float:left;
    width: 50%;
    height : 300px;
    overflow : auto;
}

.highlighted {
    color:orange;
}

#step_buttons {
    background-color : gray;
    height:500px;
    width:60%;
    overflow: auto;
    float: left;
    /*padding : 10px 10px 0px 10px;*/
    /*margin-left : 610px;*/
}

#inner-box {
    margin: 0 auto; 
    width:90%;
}

#input_box {
    width:100%; 
    background:green; 
    height:200px;
}

#step_buttons_inner, #annotation_text_inner,
#box_dependencies_inner, #box_variables_inner,
#input_box_inner {
    padding: 10px;
}

#step_buttons #clickable_buttons li {
    cursor:pointer;
}

#annotation_text {
    background-color:orange;
    display:block;
    height:200px;
    width: 100%;
    /*margin-top : -100px;*/
    padding : 10px 10px 10px 10px;
    overflow:auto;
}




